<section id="contact">
    <div class="contact container">
        <div>
            <h1 class="section-title">Contact <span>Info</span></h1>
        </div>
        <div class="contact-items">
            <div class="contact-item">
                <div class="icon">
                    <img src="https://img.icons8.com/bubbles/100/000000/phone.png" />
                </div>
                <div class="contact-info">
                    <h1>Phone</h1>
                    <h2>+62 834 123 1234</h2>
                    <h2>+62 834 123 1234</h2>
                </div>
            </div>
            <div class="contact-item">
                <div class="icon">
                    <img src="https://img.icons8.com/bubbles/100/000000/new-post.png" />
                </div>
                <div class="contact-info">
                    <h1>Email</h1>
                    <h2>agatra@gmail.com</h2>
                    <h2>infoagatra@gmail.com</h2>
                </div>
            </div>
            <div class="contact-item">
                <div class="icon">
                    <img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" />
                </div>
                <div class="contact-info">
                    <h1>Address</h1>
                    <h2>Antapani Kulon, Bandung, Jawa Barat</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="footer">
    <div class="footer container">
        <div class="brand">
            <h1>AGA<span>tra</span></h1>
        </div>
        <h2>IT Services and Consultants</h2>
        <div class="social-icon">
            <div class="social-item">
                <a href="#">
                    <img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" />
                </a>
            </div>
            <div class="social-item">
                <a href="#">
                    <img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" />
                </a>
            </div>
            <div class="social-item">
                <a href="#">
                    <img src="https://img.icons8.com/bubbles/100/000000/twitter.png" />
                </a>
            </div>
            <div class="social-item">
                <a href="#">
                    <img src="https://img.icons8.com/bubbles/100/000000/behance.png" />
                </a>
            </div>
        </div>
        <p>Copyright © 2021 Agatra. All rights reserved</p>
    </div>
</section>