<section class="container-fluid">
    <img src="assets/img/bgsecond.svg" class="img-fluid" alt="Responsive image">
    <div class="container d-flex flex-column m-0 p-0">
        <div class="title d-flex flex-column">
            <h1>Vision</h1>
            <h1>Mission</h1>
            <h1>And Goals</h1>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    </div>
</section>

<section class="container-fluid">
    <img src="assets/img/bgthird.svg" class="img-fluid" alt="Responsive image">
    <div class="container second d-flex flex-column m-0 p-0">
        <div class="title d-flex flex-column">
            <h1>01</h1>
            <h1>Vision</h1>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</section>

<section class="container-fluid">
    <img src="assets/img/bgfourth.svg" class="img-fluid" alt="Responsive image">
    <div class="container third d-flex flex-column m-0 p-0">
        <div class="title d-flex flex-column">
            <h1>02</h1>
            <h1>Mission</h1>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</section>

<section class="container-fluid">
    <img src="assets/img/bgfifth.svg" class="img-fluid" alt="Responsive image">
    <div class="container fourth d-flex flex-column m-0 p-0">
        <div class="title d-flex flex-column">
            <h1>03</h1>
            <h1>Goals</h1>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</section>