<section class="container-fluid one">
  <div class="container d-flex flex-column m-0 p-0">
      <div class="title d-flex flex-column">
          <h1>Feel</h1>
          <h1>Free To</h1>
          <h1>Contact Us</h1>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
  </div>
</section>

<form class="my-form">
    <div class="containerrr">
      <h1>Contact Us</h1>
      <ul>
        <li>
          <select>
            <option selected disabled>-- Please choose an option --</option>
            <option>Request project</option>
            <option>Send Resume</option>
            <option>Other</option>      
          </select>
        </li>
        <li>
          <div class="grid grid-2">
            <input type="text" placeholder="Name" required>  
            <input type="text" placeholder="Id" required>
          </div>
        </li>
        <li>
          <div class="grid grid-2">
            <input type="email" placeholder="Email" required>  
            <input type="tel" placeholder="Phone">
          </div>
        </li>    
        <li>
          <textarea placeholder="Message"></textarea>
        </li>   
        <li>
          <div class="grid grid-3">
            <div class="required-msg">REQUIRED FIELDS</div>
            <button class="btn-grid" type="submit">
              <span class="front">SUBMIT</span>
            </button>
            <!-- <button class="btn-grid" type="reset" disabled> -->
            <button class="btn-grid" type="reset">
              <span class="front">RESET</span>
            </button> 
          </div>
        </li>    
      </ul>
    </div>
  </form>